body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background-color: #7f64de;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    padding: 30px;
    border-radius: 5px;
}

    nav a:hover {
        background-color: #fff;
        color: #333;
    }

#about{
    background-color:aqua;
}
/* Style*/
/* Star Rate*/
.star-rating {
    font-size: 50px;
    color: #ffd800;
}

    .star-rating .star {
        display: inline-block;
        transition: color 0.2s;
    }

        .star-rating .star:hover,
        .star-rating .star:hover ~ .star {
            color: #ffd800;
        }
